<nav class="navbar fixed-bottom navbar-expand" style="font-family: 'Montserrat'; background-color: rgb(37, 44, 65); position: relative;">

    <div class="order-0">
        <a class="navbar-brand" href="#">
            <strong style="color: #dddfe6">LOGO</strong>
        </a>
    </div>

    <small style="color: #dddfe6">Copyright</small>

    <div class="navbar w-100 order-1 order-md-0">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <small style="color: #dddfe6">Gerente:
          <strong>Paula Nieto</strong>
        </small>
                <br>
                <small style="color: #dddfe6">comercialmarper@gmail.com</small>
            </li>
        </ul>
    </div>



</nav>