<nav class="navbar fixed-bottom navbar-expand">

    <div class="order-0">
        <span class="navbar-brand">
            <a href="#"><img src="../../assets/logo.png" alt="marper" style="width: 120px; height: 70px"></a>
        </span>
    </div>

    <div class="mr-4">
        <small class="smFooter">&copy; Marper Hostelería y su logo son marcas registradas.</small>
    </div>
    <div>
        <small class="smFooter">*Todos nuestros precios son aproximados, pídenos presupuesto personalizado en la sección NOSOTROS.</small>
    </div>

    <div class="navbar w-100 order-1 order-md-0">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <small class="colorDDD">Gerente:
                    <strong>Paul<a href="#" class="colorDDD" (click)="gotoAdmin()">a</a> Nieto</strong>
                </small>
                <br>
                <a href="mailto:comercialmarper@gmail.com">
                    <small class="colorDDD">comercialmarper@gmail.com</small>
                </a>
            </li>
        </ul>
    </div>



</nav>