<div class="dropdown show">
    <a class="nav-link dropdown-toggle" href="#" style="color: #dddfe6" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Contacto
  </a>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink" style="background-color: #f4f5f9;">
        <h6 class="dropdown-header">Teléfono</h6>
        <a class="dropdown-item" href="tel:+34606390905">Llamar <br> 606 390 908</a>

        <div class="dropdown-divider"></div>

        <h6 class="dropdown-header">Email</h6>
        <a class="dropdown-item" href="mailto: comercialmarper@gmail.com">comercialmarper@gmail.com</a>

        <div class="dropdown-divider"></div>

        <h6 class="dropdown-header">Directo</h6>
        <form class="px-4 py-3">
            <div class="form-group">
                <input type="text" class="form-control" id="nombre" placeholder="Nombre" [formControl]="nameControl">
                <small class="smError" *ngIf="nameControl.hasError('required')">*Obligatorio</small>
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email" [formControl]="emailControl">
                <small class="smError" *ngIf="emailControl.hasError('required')">*Obligatorio</small>
            </div>
            <div class="form-group">
                <input type="number" class="form-control" id="telefono" placeholder="Teléfono" [formControl]="tlfControl">
                <small class="smOpcional">Opcional</small>
            </div>
            <div class="form-group">
                <textarea type="text" class="form-control" id="msg" placeholder="Mensaje..." [formControl]="msgControl"></textarea>
                <small class="smError" *ngIf="msgControl.hasError('required')">*Obligatorio</small>
            </div>

            <button type="button" class="btn btn-primary" (click)='enviarMensaje()'>Enviar</button>
        </form>
    </div>
</div>

<ng-progress></ng-progress>