.filtroCat{
    background-color: #252c41; 
    color: #dddfe6;
    width: 50%; padding-top: 10px;padding-bottom: 10px; border-right: 1px solid black
}

.filtroCatHover{
    background-color: #091125;
     color: #dddfe6;
     width: 50%; padding-top: 10px;padding-bottom: 10px; border-right: 1px solid black
}

.filtroMar{
    background-color: #252c41; 
    color: #dddfe6;
    width: 50%; padding-top: 10px;padding-bottom: 10px; border-left: 1px solid black;
}

.filtroMarHover{
    background-color: #091125;
     color: #dddfe6;
     width: 50%; padding-top: 10px;padding-bottom: 10px; border-left: 1px solid black;
}

.btn-link:hover{
    color: #f1404b
}

.btn-link{
    color: #252c41
}

.filtros{
    width: 100%;
    overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}