<div class="container" style="height:  100vh">
    <div class="row" style="height:  100vh">
        <div class="col-12 col-md-5" style="padding-top: 50px; padding-bottom: 50px; font-family: Montserrat; color: #252c41">
            <h1>MARPER HOSTELERÍA</h1>

            <h4>DATOS</h4>
            <h4>DATOS</h4>
            <h4>DATOS</h4>
            <h4>DATOS</h4>
            <h4>DATOS</h4>
        </div>
        <div class="col-7 d-none d-md-block" style="padding-top: 50px; padding-bottom: 50px;">
            <div #gmap style="width: 100%;height:100%"></div>
        </div>
    </div>
</div>