<div class="container">
    <div class="row">
        <div class="col-12 col-md-5 containerDatos">
            <h1 class="display-4">
                <span style="color: #252c41">M</span>ARPER</h1>
            <p class="lead">hosteler&iacute;a</p>

            <h3>Gerente</h3>
            <h4 class="ml-5">Paula Nieto</h4>
            <h3>Dirección</h3>
            <h4 class="ml-5">
                Calle Salamanca, 13, Bajo
            </h4>
            <h3>Teléfono</h3>
            <h4 class="ml-5">
                <a href="tel:+34606390908">606 390 908</a>
            </h4>
            <br>
            <h1>Pídenos Presupuesto</h1>
            <form class="py-3">
                <div class="form-group">
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" [formControl]="nameControl">
                    <small class="smError" *ngIf="nameControl.hasError('required')">*Obligatorio</small>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email" [formControl]="emailControl">
                    <small class="smError" *ngIf="emailControl.hasError('required')">*Obligatorio</small>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="telefono" placeholder="Teléfono" [formControl]="tlfControl">
                    <small class="smOpcional">Opcional</small>
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" id="msg" placeholder="Mensaje..." [formControl]="msgControl"></textarea>
                    <small class="smError" *ngIf="msgControl.hasError('required')">*Obligatorio</small>
                </div>
                <button type="button" class="btn btn-primary" (click)='enviarMensaje()'>Enviar</button>
            </form>
        </div>
        <div class="col-7 d-none d-md-block containerMapa">
            <div #gmap class="sombra mapa"></div>
        </div>
    </div>
</div>

<ng-progress></ng-progress>