<div class="container">
    <div class="row">
        <div class="col-12 col-md-5 containerDatos">
            <h1>MARPER HOSTELERÍA</h1>

            <h4><a href="https://www.google.com/maps/@?api=1&map_action=pano&viewpoint=42.2225111,-8.7270627&heading=-45&pitch=38&fov=80">DIRECCION</a></h4>
            <h4><a href="tel:+34606390908">TELEFONO</a></h4>
            <h4><a href="mailto:comercialmarper@gmail.com">EMAIL</a></h4>
            <h4>DATOS</h4>
            <h4>DATOS</h4>
            <br>
            <h1>Pídenos Presupuesto</h1>
            <form class="py-3">
                <div class="form-group">
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" [formControl]="nameControl">
                    <small class="smError" *ngIf="nameControl.hasError('required')">*Obligatorio</small>
                </div>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="Email" [formControl]="emailControl">
                    <small class="smError" *ngIf="emailControl.hasError('required')">*Obligatorio</small>
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" id="telefono" placeholder="Teléfono" [formControl]="tlfControl">
                    <small class="smOpcional">Opcional</small>
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" id="msg" placeholder="Mensaje..." [formControl]="msgControl"></textarea>
                    <small class="smError" *ngIf="msgControl.hasError('required')">*Obligatorio</small>
                </div>
                <button type="button" class="btn btn-primary" (click)='enviarMensaje()'>Enviar</button>
            </form>
        </div>
        <div class="col-7 d-none d-md-block containerMapa">
            <div #gmap class="sombra mapa"></div>
        </div>
    </div>
</div>

<ng-progress></ng-progress>