.display-4 {
    font-family: Montserrat Subrayada;
    color: #dddfe6
}

.lead {
    font-family: Montserrat Subrayada;
    color: #252c41;
    padding-left: 10%
}

.btnCatalogo {
    font-family: Montserrat;
    color: #252c41;
    margin-left: 100px;
}