<div class="jumbotron jumbotron-fluid" style="background-color: #f1404b">
    <div class="container">
        <h1 class="display-4" style="font-family: Montserrat Subrayada; color: #dddfe6"> <span style="color: #252c41">M</span>ARPER</h1>
        <p class="lead" style="font-family: Montserrat Subrayada; color: #252c41; padding-left: 10%">hosteler&iacute;a</p>
        <button type="button" class="btn btn-outline-dark btn-lg" style="font-family: Montserrat; color: #252c41; margin-left: 100px;" (click)="gotoCatalogo()">CATÁLOGO</button>
    </div>
</div>