<nav class="navbar fixed-bottom navbar-expand">

    <div class="order-0">
        <span class="navbar-brand">
        <a href="#"><img src="../../assets/logo.png" alt="marper" style="width: 120px; height: 60px"></a>
      </span>
    </div>

    <div class="navbar w-100 order-1 order-md-0">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <small class="colorDDD">Gerente:
                  <strong>Paula Nieto</strong>
              </small>
                <br>
                <a href="mailto:comercialmarper@gmail.com">
                    <small class="colorDDD">comercialmarper@gmail.com</small>
                </a>
            </li>
        </ul>
    </div>



</nav>